@charset 'utf-8';
html,
body {
  height: 100%;
}
html {
  font-size: 26.67vw;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: .16rem;
  list-style: none;
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
q,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
body {
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Arial";
  color: #333;
  background-color: #fff;
}
a {
  color: #06f;
  text-decoration: none;
}
img {
  border: none;
}
li {
  list-style-type: none;
}
textarea {
  resize: vertical;
}
input,
select,
textarea {
  font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Arial";
  background-color: #fff;
  outline: none;
}
/*global style*/
.g-fl {
  float: left;
}
.g-fr {
  float: right;
}
.g-c:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
